@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

@media all and (min-width: 480px) {
  .register {
    background-color: #ffffff;
    width: 400px;
    height: 800px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
    text-align: center;
    justify-content: center;
    font-size: 15px;
  }

  .form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
  }
}

.img {
  border: 1px;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}




.Registration-Button {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  margin-left: 35%;
  font-size: 15px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/*.Login-Button2 {
    text-align: center;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, blue, grey);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  */
.Links {
  text-shadow: 0px 0px 3px rgb(117 117 117 / 12%);
  color: #e1bee7;
  padding-top: 15px;
}

#email {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Montserrat", sans-serif;
}

#password {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Montserrat", sans-serif;
}

#text {
  color: #8c55aa;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 23px;
}
