.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 40px;
}
.img {
  background-image: url(./gibri.png);
}
.event1 {
  display: block;
  position: absolute;
  top: 20px;
  left: 16px;
  color: yellowgreen;
  background-color: black;
}

@media (max-width: 480px) {
  .video-item {
    flex: 0 0 100%; /* 1 accross */
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-wrap {
  text-align: center;
  padding: 10px;
}
/*
 = ======== flexbox ========
*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 0 0 250px;
}

/*
  = ====== visuals =========
 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.cards {
  min-height: 100vh;
}
.card {
  margin: 12px;
  background: #f2f2f2;
  border-radius: 7px;
  padding: 0 0 50px 0;
}
.card > header {
  background: #808080;
  height: 200px;
  border-radius: 7px 7px 0 0;
}
.card > ul {
  list-style: none;
  padding: 0;
}
.card > ul li {
  height: 20px;
  width: 90%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.4);
}
.card button {
  width: 50%;
  height: 40px;
  border: 0;
  margin-left: 12px;
  border-radius: 7px;
}
.card--big {
  transform: scaleX(1.12);
}

.boxes {
  padding: 0.5vw;
  flex-flow: row wrap;
  display: flex;
}

.box {
  margin: 0.5vw;
  border: 1px solid #444;
  padding: 0.5vw;
  flex: 1 0 auto;
  width: 320px;
  max-width: 320px;
  max-height: 400px;
}

.box img {
  width: 100%;
  height: 50%;
}
select {
  color: #9e9e9e;
  text-align: center;
  justify-content: center;
}

.option:not(:first-of-type) {
  color: black;
}

@media all and (min-width: 480px) {
  .form-group {
    margin: 0 auto;
    max-width: 320px;
    margin: 15px;
  }
}

body {
  background-color: #ebecf6;
  font-family: "Ubuntu", sans-serif;
}

.Login-Button {
  display: flex;
  text-align: center;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/*.Login-Button2 {
  text-align: center;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, blue, grey);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
*/
.Links {
  text-shadow: 0px 0px 3px rgb(117 117 117 / 12%);
  color: #e1bee7;
  padding-top: 15px;
}

#email {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#password {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#welcomeText {
  color: #8c55aa;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.forgotPassword {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #a096a1;
  padding-top: 15px;
}

.helpMe {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #a096a1;
  padding-top: 15px;
}

.input {
  text-align: left !important;
}

.label {
  display: flex;
  justify-content: center;
  padding-left: 1cm;
}

.citiesMenu {
}
