@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}
.container2 {
  width: 80%;
  color: black;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin: auto;
  width: 70%;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif !important;
  padding: 10px;
  break-after: always;
  break-before: always;
  background-color: #ffffff00;
}
.team-header {
  text-align: center;
  font-size: 30px;
  margin: 40px;
}
.page-text {
  text-align: center;
  font-size: 25px;
  margin-left: 70px;
  margin: 60px;
}
.team-members {
  background-color: transparent;
  width: 1000px;
  height: 500px;
  padding-left: 100px;
  padding-right: 100px;
}
.team-member-1 {
  float: left;
  width: 25%;
  height: 280px;
}
.team-member-2 {
  float: left;
  width: 50%;
  height: 280px;
}
.team-member-3 {
  float: right;
  width: 25%;
  height: 280px;
}
img {
  width: 200px;
  border: white;
  cursor: pointer;
  border-radius: 70%;
  margin-right: 20px;
  justify-content: center;
}
.member-header-1 {
  font-size: 25px;
  text-align: center;
  background-color: transparent;
}
.member-header-2 {
  font-size: 25px;
  text-align: center;
  background-color: transparent;
}
.member-header-3 {
  font-size: 25px;
  text-align: center;
  background-color: transparent;
}
.member-text-1 {
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}
.member-text-2 {
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}
.member-text-3 {
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}
.github-btn-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10em;
  color: #fff;
  background: #4b4453;
  border: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 50px;
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
}
.github-btn-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10em;
  color: #fff;
  background: #4b4453;
  border: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 150px;
  margin-top: 15px;
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
}
.github-btn-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10em;
  color: #fff;
  background: #4b4453;
  border: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 45px;
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
}