@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&family=Poppins:wght@300&display=swap");

.Navigation {
  display: flex;
  padding-left: 40%;
  text-align: right !important;
  justify-content: center;
  font-size: 15pt;
  font-family: "Poppins", sans-serif;
  height: 1cm;
  background: linear-gradient(to right, #eeaeca, #94bbe9);
  margin-top: 10px;
  margin-bottom: 10px;
}

.Nav-tittle {
  padding-left: 10px !important;
  margin-left: 10px;
  color: white;
}

.Login-Button {
  display: flex;
  text-align: left;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.Login-Button2 {
  display: flex;
  text-align: left;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.Links {
  text-shadow: 0px 0px 3px rgb(117 117 117 / 12%);
  color: #e1bee7;
  padding-top: 15px;
}

.SearchBar {
  display: flex;
  padding-left: 10% !important;
}

body {
  background: linear-gradient(to right, #eeaeca, #94bbe9);
}
